<body class="homeType">
<div class="center jumbotron" id="center">
<h1>BallotBot</h1>
</div>
<div id="form">
<%= form_tag("/search", method: "get") do %>
	<%= label_tag(:q, "Enter your search: ") %>
	<%= text_field_tag(:q) %>
	<%= submit_tag("Search") %>
<% end %>
</div>
</body>
<script type="text/javascript">
	/*$(function() {
		if (window.history && window.history.pushState) {
			window.history.pushState('', null, './');
			$(window).on('popstate', function() {
				var subj = <%= @identifier %>;
				var cond = <%= @condition %>;
				window.location = '/home?utf8=%E2%9C%93&subj=' + subj + '&cond=' + cond + '&commit=Login';
			});
		}
	});*/
</script>
<style>
	#center {
		background: rgb(255, 153, 0);
		color: #FFFFFF;
		font-size: 50px;
	}
	h1 {
		margin-left: 100px;
	}
	#form {
		font-size: 25px;
		color: gray;
		margin-left: 75px;
	}
	input {
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 10px;
	}
</style>