<% case @article.template 

 when "intelius" %>

  <head>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="/assets/jquery.js" type="text/javascript"></script>
  <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/intelius/gh-pages/css/intel.css">
    <title>Intelius</title>
  </head>
  <body>
    <div id="top">
      <p id="title">intelius</p>
    </div>
    
    <p id="prompt">Get the information you need on <span style="color:purple;">Francis E. Smith</span></p>
    
    <div id="container">
      <div id="check1">
        <p id="ps" class="text">People Search Report</p>
        <div id="contintro1">
          <p id="intro1" class="text">
            Includes all search results for Francis Smith in the United States
          </p>
        </div>
        <div id="red">
          <ul id="info">
            <li class="text">&nbsp;Addresses</li>
            <li class="text">&nbsp;Phone Numbers</li>
            <li class="text">&nbsp;Location History</li>
            <li class="text">&nbsp;Family Members</li>
            <li class="text">&nbsp;Court Records</li>
            <li class="text">&nbsp;Date of Birth</li>
          </ul>   
        </div>
      </div>
      <div id="check2">
        <p id="psp" class="text">People Search Plus Report</p>
        <div id="contintro2">
          <p id="intro2" class="text">
            Includes all search results, social network search, and email search.
          </p>
        </div>
        <div id="blue">
          <ul id="info">
            <li class="text">&nbsp;Addresses</li>
            <li class="text">&nbsp;Phone Numbers</li>
            <li class="text">&nbsp;Location History</li>
            <li class="text">&nbsp;Family Members</li>
            <li class="text">&nbsp;Court Records</li>
            <li class="text">&nbsp;Date of Birth</li>
            <li class="text">&nbsp;Social Network</li>
            <li class="text">&nbsp;Email Search</li>
          </ul>   
        </div>
      </div>
    </div>
    
  </body>

<% when "PeopleFinder" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/PeopleFinder/gh-pages/css/peoplef.css">
    <title>PeopleFinder</title>
  </head>
  <body>
    <div id="top">
      <div id="titlecont">
        <p id="title">People<span style="color:gray">Finder</span></p>
      </div>
      <div id="piccont">
      </div>
    </div>
    
    <div id="container">
      <p id="prompt">Select an option to view results for <span style="color:gray;">Francis E. Smith</span></p>
      <div id="check1">
        <p id="ps" class="text">Standard Membership</p>
        <p id="pss" class="text">Full name, Age, Relationship status</p>
        <p id="num" class="text">$ <span style="font-size:40px;">9</span>.99</p>
        <div id="hey">
          <ul id="info">
            <li class="text">Addresses</li>
            <li class="text">Phone Numbers</li>
            <li class="text">Location History</li>
            <li class="text">Family Members</li>
            <li class="text">Court Records</li>
            <li class="text">Date of Birth</li>
          </ul>   
        </div>
      </div>
      
      <div id="check2">
        <p id="ps" class="text"><span style="color:gold">Premium</span> Membership</p>
        <p id="pss" class="text">Phone, Email, Business Contacts, and Full Address</p>
        <p id="num" class="text">$<span style="font-size:40px;">14</span>.99</p>
        <div id="hey">
          <ul id="info">
            <li class="text">Addresses</li>
            <li class="text">Phone Numbers</li>
            <li class="text">Location History</li>
            <li class="text">Family Members</li>
            <li class="text">Court Records</li>
            <li class="text">Date of Birth</li>
            <li class="text">Social Network</li>
            <li class="text">Email Search</li>
          </ul>   
        </div>
      </div>
    </div>
    
  </body>

<% when "PeopleGuide" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/PeopleGuide/gh-pages/css/people.css">
    <title>PeopleGuide</title>
  </head>
  <body>
    <div id="top">
      <p id="logo">PeopleGuide</p>
    </div>
    <div id="top2">
      <p id="name" class="text">Patrick Fischer</p>
    <div>
    <div id="pic">
      <img id="propic" src="http://ishowmy.support/img/user-icon-360x360.jpg" style="width:35%;height:40%;">
    </div>
      <p id="hey" class="text"><b>Who is Patrick Fischer?</b></p>
      <ul>
        <li><p class="text">Birthday:</p></li>
        <li><p class="text">E-Mail:</p></li>
        <li><p class="text">Phone/GSM:</p></li>
        <li><p class="text">University:</p></li>
        <li><p class="text">Job:</p></li>
        <li><p class="text">Place Lived:</p></li>
      </ul>
        <p id="copy" class="text">PeopleGuide | &copy; Copyright 2016.</p>
  </body>

<% when "PeopleSmart" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/PeopleSmart/gh-pages/css/people.css">
    <title>PeopleSmart</title>
  </head>
  <body>
    <div id="top">
      <p id="title">People<span style="color:MediumPurple">Smart</span></p>
    </div>
    
    <div id="container">
      <p id="prompt">Select an option to view results for <span style="color:MediumPurple;">Francis E. Smith</span></p>
      <div id="check1">
        <p id="ps" class="text">Connect Membership</p>
        <p id="pss" class="text">Full name, Age, Relationship status</p>
        <p id="num" class="text">$ <span style="font-size:40px;">4</span>.99</p>
        <div id="hey">
          <ul id="info">
            <li class="text">Addresses</li>
            <li class="text">Phone Numbers</li>
            <li class="text">Location History</li>
            <li class="text">Family Members</li>
            <li class="text">Court Records</li>
            <li class="text">Date of Birth</li>
          </ul>   
        </div>
      </div>
      
      <div id="check2">
        <p id="ps" class="text">Connect Plus Membership</p>
        <p id="pss" class="text">Phone, Email, Business Contacts, and Full Address</p>
        <p id="num" class="text">$<span style="font-size:40px;">14</span>.99</p>
        <div id="hey">
          <ul id="info">
            <li class="text">Addresses</li>
            <li class="text">Phone Numbers</li>
            <li class="text">Location History</li>
            <li class="text">Family Members</li>
            <li class="text">Court Records</li>
            <li class="text">Date of Birth</li>
            <li class="text">Social Network</li>
            <li class="text">Email Search</li>
          </ul>   
        </div>
      </div>
    </div>
    
  </body>

<% when "spokeo" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/spokeo/gh-pages/css/spoke.css">
    <title>Spokeo</title>
  </head>
  <body>
    <div id="top">
      <p id="title">SPOKEO</p>
    </div>
    
    <p id="prompt"><span style="color:green;">Francis E. Smith</span></p>
    <div id="picont">
      <img id="pic" src="http://kliffainnovations.com/wp-content/uploads/2016/04/person-icon.png"></img>
    </div>
    <div id="container">
      <div id="check1">
        <p id="ps" class="text">Personal Details</p>
        <p id="pss" class="text">Full name, Age, Relationship status</p>
      </div>
      <div id="check2">
        <p id="ps" class="text">Contact Information</p>
        <p id="pss" class="text">Phone, Email, Business Contacts, and Full Address</p>
      </div>
      <div id="check3">
        <p id="ps" class="text">Location History</p>
        <p id="pss" class="text">Current/Previous Address and Neighborhood Information</p>
      </div>
      <div id="check4">
        <p id="ps" class="text">Photos and Online Profiles</p>
        <p id="pss" class="text">Social Profile, Photos, and Videos from Top Online Sites</p>
      </div>
      <div id="check5">
        <p id="ps" class="text">Family Background</p>
        <p id="pss" class="text">Family Members, Relatives, Spouse Info</p>
      </div>
      <div id="check6">
        <p id="ps" class="text">Court and Historic Records</p>
        <p id="pss" class="text">Full Background Check</p>
      </div>
    </div>
    
  </body>

<% when "TheAdvocate" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/TheAdvocate/gh-pages/css/advocate.css">
    <title>The Bulletin</title>
  </head>
  <body>
    <div id="Top">
        <div id="toptop">
        </div>
        <p id="logowrite">The Bulletin</p>
        <p id="motto">-- A Daily News Source --</p>
        <div id="bottom">
        </div>
        
    </div>
    
    <div id="main">
      <p id="title">Police Officer Who Saves Choking Baby Accepts Offer to Be Her Godfather</p>
      <p id="reporter">ANDREW HUANG, <i>Staff Writer</i></p>
      <p id="date"><i>NOVEMBER 12, 2016</i> -- Atlanta, GA</p>
      <div id="bottom2"></div>
    </div>
    
    <div id="main2">
      <p id="content" class="text">A Georgia police officer has bonded with a baby after saving her life.<br><br>
      On Saturday September 24, officer Kenneth Knox was dispatched to the Parham residence, where he found 
      a two-month-old baby choking and not breathing.<br><br>
      “I had fed her an hour prior to her choking,” mother Kristen Parham told FOX 5 Atlanta. “We were sitting 
      outside, in my car, and all of a sudden she started gasping for air and white stuff was coming out of her nose and mouth.”<br><br>
      Parham said the baby’s father jumped off the porch and attempted to save his daughter.<br><br>
      “We both didn’t know what to do, so I called 911,” Parham said.<br><br>
      According to her parents, Ma’Yavi was turning blue before Officer Knox arrived on the scene.<br><br>   
      “He laid her on the couch and he did [reverse] CPR on her, and he sucked the cereal out of her throat,” Parham said.<br><br> 
      The baby started breathing again, smiled at the officer, and started crying, which Knox described as “music to his ears” in a post on Facebook. 
      “Out of my 25 years being a cop, this is my greatest and most profound accomplishment,” he said. “It made every second of those 25 years worth it all.
      I am forever humbled and changed by this.”<br><br>
      Parham asked Knox to be Ma’Yavi’s godfather a week later, and Knox responded “yes.”<br><br>
      “I know he is a great person and my baby will love him,” Parham told FOX 5 Atlanta. 
      “Every time she sees him, she gives him a big smile. I am grateful for him in my life and without him, 
      who knows what could’ve happened.”<br><br>
      Knox was honored to take on the role, calling Ma’Yavi his “angel” in a Facebook post.<br><br>   
      “I can’t put it into words,” Knox told FOX 5 Atlanta. “She changed me forever.”<br><br>
      </p>
    </div>
  </body>

<% when "TheBusinessJournal" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheBusinessJournal/gh-pages/css/journal.css">
    <title>The Business Journal</title>
  </head>
  <body>
    <div id="Top">
      <p id="name">The Business Journal</p>
    </div>
    
    <div id="main">
      <p id="title">The story of an Arkansas politician who gave away his adopted child, 
        and the tragedy that followed</p>
      <p id="reporter">CHRISTOPHER LEWIS, <i>Staff Writer</i> </p>
      <p id="date">NOVEMBER 6, 2016 | ARKANSAS</p>
    </div>
    
    <div id="main2">
      <p id="content" class="text">The sisters were supposed to be moving out of neglect and chaos and into the stability of 
        their forever home. For one of those girls, however, Arkansas Rep. Justin Harris’s house came to 
        represent something very different: a temporary stopping point on the way to some place much worse.<br><br>
      A series of stories by the Arkansas Times revealed that Harris put two young girls he adopted in 
        the care of a man who later sexually abused one of them.<br><br>
      More shocking still: What Harris did, unofficially giving away an adopted child, is not illegal 
        in Arkansas. It is known as “rehoming,” a name that describes a practice more common in pet adoption. 
        The practice is highly controversial — “a monstrous act,” according to adoption advocate John M. Simmons. 
        “There’s probably no greater trauma than thinking you have found a forever family and finding that’s not 
        the case,” said Sandy Santana, interim executive director of Children’s Rights.<br><br>
      Harris placed the blame on the state health services department, which, he said, refused to help. 
        State officials also did not act when they learned that the Harris’ had given the girls to another family, 
        according to the Times, until it was too late. Harris said after harming family pets and threats to hurt 
        the family including his three adopted sons, he again reached out to DHS for help, and where he said “we 
        were then threatened with possible abandonment charges and potentially losing our own boys,” Harris said. 
        So he took action and rehomed the girls to Stacey Francis, one of Mrs. Harris’ friends. Eric Francis 
        husband of Stacey, would later would be served forty years for raping one of the girls while she was out 
        of town. Adoption advocates are trying to outlaw rehoming in all states to avoid these events from occurring.<br><br>
      </p>
    </div>
  </body>

<% when "TheEnquirer" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
     <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheEnquirer/gh-pages/css/enquirer.css">
    <title>The Enquirer</title>
  </head>
  <body>
    
    <div id="header">
      <img src="https://rawgit.com/michaelgrotton/TheEnquirer/gh-pages/ActionInk.png" style="width:250px;height:175px">
    </div>
    <div id="divider">
    </div>
    
    <div id="article">
      <p id="title">Senator Scott Bennett to serve food at Daily Bread Soup Kitchen</p>
    </div>
    
    <div id="author">
      <p id="name" class="letters">Edmund Isaacson</p>
      <p id="position" class="letters"><i>Staff Writer</i></p>
    </div>

    <div id="writing">
      <p id="content">CHAMPAIGN– To raise awareness about the importance of community food pantries and soup kitchens, Senator Scott Bennett (D-Champaign) will be 
         serving lunch at the Daily Bread Soup Kitchen. This isn’t a first time occurrence for Senator Bennett. He often attends the Daily Bread Soup 
         kitchen to provide whatever help is necessary. Senator Bennett said, “I realize I have been blessed in my life, and this is just one way for me 
         to give back to my community.”<br><br>
         Bennett is currently participating in the SNAP Challenge to experience what life is like for millions of low-income Americans living on an average
         daily allowance of $4.40. However, often due to stigma surrounding soup kitchens, many Americans don’t often seek out the help they can receive due 
         to pride or other personal reasons. Senator Bennett advocates on a large scale to other communities to reduce this stigma as it is there to benefit 
         all those in need of a hot meal. Regardless of the stigma, with the recent market and prices of food and gas ever increasing, more and more Americans 
         are relying on soup kitchens to provide nourishment for their day. Senator Bennett said “many of our neighbors are experiencing difficult times and 
         rely on area soup kitchens to receive a decent meal.” Even with all of Senator Bennett’s effort, due to the budget impasse, soup kitchens in Champaign-Urbana 
         area are left no choice but to close their doors. The Daily Bread Soup Kitchen will be attempting to serve additional families without additional funding. 
         This news comes in light of the Daily Bread Soup Kitchen’s recent purchase of a new facility to allow them to serve more residents. However, they still need 
         to raise $300,000 for renovation costs. Senator Bennett is looking into setting up a fundraiser to help diminish the costs. </p>
    </div> 
    <div id="divider">
    </div>
  </body>

<% when "TheGazette" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheGazette/gh-pages/css/gazette.css">
    <title>The Gazette</title>
  </head>
  <body>
    <div id="Top">
      <div id="logo">
        The Gazette
      </div>
    </div>
    
    <div id="main">
      <div id="bottom1"></div>
      <p id="title">Gov. Bill Haslam donating $4.5 million per year to charitable foundations
  </p>
      <p id="reporter"> By: MAGGIE HAMILTON &nbsp<span style="color:gray;font-style:italic;" >Nov. 5</span></p>
      <p id="date"></p>
      <div id="bottom2"></div>
    </div>
    
    <div id="main2">
      <p id="content" class="text">NASHVILLE — Over a 10-year period, Bill Haslam has contributed more than $45 million to two 
        charitable foundations that, in turn, have donated almost $25 million to hundreds of organizations promoting 
        education, religion and culture.<br><br>
      The average of $4.5 million per year in combined donations to Charis Foundation, established 
        by Haslam and his wife in 2001, and the Haslam Family Foundation, established by his father in 1998, dwarfs 
        the $690,000 in average annual charitable giving separately reported by Haslam as a candidate for governor 
        two years ago.<br><br>
      Combined, the two foundations have accumulated about $100 million in assets through Haslam 
        donations and investing. That means a store of funds for giving to charities far into the future.<br><br>
     "We've obviously been blessed. Part of what goes with that is a responsibility to be generous," 
        said the Haslam in an interview last week.  <br><br>
      Such foundations provide tax advantages to wealthy persons with philanthropic inclinations, 
        according to Beverly Moran, a Vanderbilt University professor of law. "You and I do not get a deduction 
        for money given to charity until it's actually given to the charity," she said. "One of the big advantages 
        of a foundation is that you can get a deduction now for the donation you're going to make later." "You can 
        take the monies you do not need at the moment, but have decided where to put it, and get the tax deduction 
        now," she said. "We never give for tax purposes. We give for the purpose of giving," Jim Haslam said. 
        "Natalie (his wife) and I feel very strongly we have an obligation to give back to the community. 
        Once we pass on, we want to be able to perpetuate our giving back to the community," said the senior Haslam, 
        founder of a family-owned chain of gas stations and travel centers.<br><br>
      </p>
      
    </div>
  </body>

<% when "TheHerald" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/TheHerald/gh-pages/css/herald.css">
    <title>The Herald</title>
  </head>
  <body>
    <div id="Top">
      <p id="logowrite">The Herald</p>
      <p id="motto"><i>A Local News Source</i></p>
    </div>
    
    <div id="main">
      <p id="title">Police Officer Who Saves Choking Baby Accepts Offer to Be Her Godfather</p>
      <p id="reporter">ANDREW HUANG, <i>Staff Writer</i></p>
      <p id="date"><i>NOVEMBER 12, 2016</i> -- Atlanta, GA</p>
      <div id="bottom2"></div>
    </div>
    
    <div id="main2">
      <p id="content" class="text">A Georgia police officer has bonded with a baby after saving her life.<br><br>
      On Saturday September 24, officer Kenneth Knox was dispatched to the Parham residence, where he found 
        a two-month-old baby choking and not breathing.<br><br>
      “I had fed her an hour prior to her choking,” mother Kristen Parham told FOX 5 Atlanta. “We were sitting 
        outside, in my car, and all of a sudden she started gasping for air and white stuff was coming out of her nose and mouth.”<br><br>
      Parham said the baby’s father jumped off the porch and attempted to save his daughter.<br><br>
      “We both didn’t know what to do, so I called 911,” Parham said.<br><br>
     According to her parents, Ma’Yavi was turning blue before Officer Knox arrived on the scene.<br><br>
      “He laid her on the couch and he did [reverse] CPR on her, and he sucked the cereal out of her throat,” Parham said.<br><br>
      The baby started breathing again, smiled at the officer, and started crying, which Knox described as “music to his ears” in a post on Facebook. 
        “Out of my 25 years being a cop, this is my greatest and most profound accomplishment,” he said. “It made every second of those 25 years worth it all. 
        I am forever humbled and changed by this.”<br><br>
      Parham asked Knox to be Ma’Yavi’s godfather a week later, and Knox responded “yes.”<br><br>
      “I know he is a great person and my baby will love him,” Parham told FOX 5 Atlanta. 
        “Every time she sees him, she gives him a big smile. I am grateful for him in my life and without him, 
        who knows what could’ve happened.”<br><br>
      Knox was honored to take on the role, calling Ma’Yavi his “angel” in a Facebook post.<br><br>
      “I can’t put it into words,” Knox told FOX 5 Atlanta. “She changed me forever.”<br><br>
      </p>
    </div>
  </body>

<% when "TheReview" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/TheReview/gh-pages/css/review.css">
    <title>Arch Press</title>
  </head>
  <body>
    <div id="Top">
      <p id="logowrite">Arch Press</p>
    </div>
    
    <div id="main">
      <p id="title">Police Officer Who Saves Choking Baby Accepts Offer to Be Her Godfather</p>
      <p id="reporter">ANDREW HUANG, <i>Staff Writer</i></p>
      <p id="date"><i>NOVEMBER 12, 2016</i> -- Atlanta, GA</p>
      <div id="bottom2"></div>
    </div>
    
    <div id="main2">
      <p id="content" class="text">A Georgia police officer has bonded with a baby after saving her life.<br><br>
      On Saturday September 24, officer Kenneth Knox was dispatched to the Parham residence, where he found 
        a two-month-old baby choking and not breathing.<br><br>
      “I had fed her an hour prior to her choking,” mother Kristen Parham told FOX 5 Atlanta. “We were sitting 
        outside, in my car, and all of a sudden she started gasping for air and white stuff was coming out of her nose and mouth.”<br><br>
      Parham said the baby’s father jumped off the porch and attempted to save his daughter.<br><br>
      “We both didn’t know what to do, so I called 911,” Parham said.<br><br>
      According to her parents, Ma’Yavi was turning blue before Officer Knox arrived on the scene.<br><br>
     “He laid her on the couch and he did [reverse] CPR on her, and he sucked the cereal out of her throat,” Parham said.<br><br>
     The baby started breathing again, smiled at the officer, and started crying, which Knox described as “music to his ears” in a post on Facebook. 
        “Out of my 25 years being a cop, this is my greatest and most profound accomplishment,” he said. “It made every second of those 25 years worth it all. 
        I am forever humbled and changed by this.”<br><br>
     Parham asked Knox to be Ma’Yavi’s godfather a week later, and Knox responded “yes.”<br><br>
      “I know he is a great person and my baby will love him,” Parham told FOX 5 Atlanta. 
        “Every time she sees him, she gives him a big smile. I am grateful for him in my life and without him, 
        who knows what could’ve happened.”<br><br>
      Knox was honored to take on the role, calling Ma’Yavi his “angel” in a Facebook post.<br><br>
      “I can’t put it into words,” Knox told FOX 5 Atlanta. “She changed me forever.”<br><br>
      </p>
    </div>
  </body>

<% when "TheTribune" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheTribune/gh-pages/css/tribune.css">
    <title>The Tribune</title>
  </head>
  <body>
    <div id="Top">
      <div id="logo">
        <img id="pic" src="https://rawgit.com/michaelgrotton/TheTribune/gh-pages/TheTribune.png">
      </div>
    </div>
    
    <div id="main">
      <p id="title">Colorado Rep. Dan Pabon arrested for DUI on St. Patrick's Day in Denver</p>
      <p id="reporter">MELANIE SIMMONS, <i>Staff Writer</i> </p>
      <p id="date">NOVEMBER 7, 2016 | DENVER,CO </p>
    </div>
    
    <div id="main2">
      <p id="content" class="text">DENVER - A Colorado state representative was arrested for DUI on St. Patrick's Day in Denver. 
        Dan Pabon, D-Denver, represents District 4, which encompasses Northwest Denver.<br><br>
      Police arrested Dan Pabon around 11:40 p.m. Thursday, near West Colfax Avenue and Glenarm Place, 
        said Raquel Lopez with Denver Police. That is about six blocks from the Capitol. According to the probable cause 
        statement, Pabon’s speech was slurred and he was mumbling. His breath had a “strong odor of an unknown 
        alcoholic beverage” and he was swaying and staggering. He failed field sobriety tests and was transported to 
        Denver Health Medical Center for a blood test where the results are still pending. Pabon has no prior DUI convictions 
        and he was processed and released to a sober person.<br><br>
      On Friday, Pabon released the following statement: "On the evening of March 17th, I was pulled over 
        by a member of the Denver Police Department. I fully cooperated with the officer's requests. And I will continue 
        to remain fully cooperative throughout this process. I regret the distress this has caused my family, my friends 
        and my constituents." Rep. Pabon has served since 2011. Pabon is currently the State House Speaker Pro Tempore.<br><br>
      He's also the captain of the House's "beer caucus." Some of those members were at the Governor's 
        Mansion for a tasting event Thursday night, but the group who put on the event couldn't confirm if Pabon was 
        there  -- but they told Denver7 over the phone the party ended well before 11 p.m. "It was a short event, it was 
        over by 7 p.m. and 1 ounce servings were offered to local legislators," said Steve Kurowski Operations Director 
        for the Colorado Brewers Guild. Ironically, Rep. Pabon also recently sponsored legislation that requires convicted 
        drunk drivers to go before a DUI Victim Impact Panel.<br><br>
      </p>
    </div>
  </body>

<% when "TheUnionTimes" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheUnionTimes/gh-pages/css/times.css">
    <title>The Union Times</title>
  </head>
  <body>
    <div id="Top">
        <p id="logowrite">The Union Times</p>
        <div id="bottom">
        </div>
    </div>
    
    <div id="main">
      <p id="title">Former Foster Kid Helps Students in Similar Situation Move Into College</p>
      <p id="reporter">FRANCIS HERTZ, Staff Writer </p>
      <p id="date"><i>NOVEMBER 5, 2016 -- Fresno, California</i></p>
      <div id="bottom2"></div>
    </div>
    
    <div id="main2">
      <p id="content" class="text">A recently released ad from Kleenex features John Hunt Jr., a graduate of California State University, 
        Fresno, returning to campus to welcome incoming students who’ve experienced homelessness and foster care.<br><br>
      Hunt, who had been in the foster system himself, explains in the heartwarming ad that he was 
        alone for his own college move-in because his guardians were in prison at the time. He didn’t want others in 
        similar situations to feel the way he did that day.<br><br>
      “Moving into the dorms and unpacking all my stuff alone and seeing other people with their families 
        ― it was tough for me because I would’ve loved to have my family there,” a teary-eyed Hunt said in the video. 
        “So that day, I vowed that I would help prevent people from having to move into the dorms alone.” So Hunt did just that.<br><br>
      Hunt works with the support program Renaissance Scholars, who warmly greeted students in a room filled 
        with college supplies. Others from the program were also there to help other former homeless or foster care students 
        for the special day.<br><br>   
      In the video of Hunt being recorded on university’s move-in day, the students are clearly emotional 
        when they check out the blankets, toiletries, notebooks and other items waiting for them. For the freshman, move-in 
        day is particularly special because their dorm serves as the “first home that some of them have had,” Hunt, 
        who’s now working toward a master’s degree, explained in the video. “To be able to say, ‘I’m going home,’ is 
        a big deal,” one student says. Hunt explains, “I am blessed to be able to give back and help these young students 
        who could have been like me. College is the time for growth and I believe starting everyone off on the right foot 
        makes a huge difference.”<br><br>
      </p>
    </div>
  </body>

<% when "USSearch" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/USSearch/gh-pages/css/ussearch.css">
    <title>USSearch</title>
  </head>
  <body>
    <div id="container">
      <div id="logocont">
        <p id="logo"><span style="color:green;">US</span>SEARCH</p>
      </div>
    <div id="getcont">
      <p id="get" class="text">Get the information you need on Patrick Hermann Fisher</p>
    </div>
    
    <table id="t01">
    <tr>
      <th><i>Reports include:</i></th>
      <th>Standard</th> 
      <th>Premium</th>
    </tr>
    <tr>
      <td><b>Full Name</b></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Age</b></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Address and Address History</b></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Phone Number</b></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Relatives and Associates</b></td>
      <td></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Neighbors Name and Address</b></td>
      <td></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Social Networks</b></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Property Ownership Details</b></td>
      <td></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>
    <tr>
      <td><b>Marriage Records</b></td>
      <td></td>
      <td><img src="http://www.clipartbest.com/cliparts/dT8/5e6/dT85e6aqc.png" style="width:10px;height:10px;"></td>
    </tr>  
  </table>
      
      <p id="copy" class="text">&copy; Copyright USSearch 2016.</p>

  </body>

<% when "Whitepages" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/Whitepages/gh-pages/css/white.css">
    <title>Whitepages Premium</title>
  </head>
  <body>
    <div id="top">
      <p id="logo"><span style="font-size:30px;"> Whitepages</span><i> PREMIUM</i></p>
    </div>
    <p id="header">Your Background Report Is Ready</p>
    <div id="profile">
      <img src="http://www.freeiconspng.com/uploads/am-a-19-year-old-multimedia-artist-student-from-manila--21.png" style="height:90px;width:90px;">
    </div>
    <p id="name"><b>Patrick B. Fisher</b></p>
    <div id="continue">
      <p class="text" id="report">Continue to Report <b>></b> </p>
    </div>  
    <p id="hey" class="text">We found information in one or more of the following categories:</p>
    <div id="red">
      <ul id="info">
        <li class="text">&nbsp;Addresses</li>
        <li class="text">&nbsp;Phone Numbers</li>
        <li class="text">&nbsp;Location History</li>
        <li class="text">&nbsp;Family Members</li>
        <li class="text">&nbsp;Court Records</li>
        <li class="text">&nbsp;Date of Birth</li>
      </ul>   
    </div>
    <p id="copyright" class="text">&copy; Whitepages 2016.</p>
  </body>

<% when "zoominfo" %>

  <head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/zoominfo/gh-pages/css/zoom.css">
    <title>Zoominfo</title>
  </head>
  <body>
    <div id="top">
      <p id="logo">zoominfo</p>
    </div>
    
    <div id="main">
      <p id="name" class="text"><b>John Smith</b></p>
      <div id="pic">
        <img src="http://www.sitm.ac.in/assets/faculty/exefaculty/blank-profile.png"
             style="width:210px;height:225px;">
      </div>
      <div id="infoleft">
        <p class="text"><b>Description</b></p>
        <p class="text">Singer songwriter johnsmith offers
          cds and samples of acoustic folk music, along with touring 
          schedule and booking info
        </p>
      </div>
      
      <div id="inforight">
        <p class="text">24721 2Nd St</p>
        <p class="text">Trempealeau, Wisconsin 54661</p>
        <p class="text">P:</p>
        <p class="text">F:</p>
        <p class="text">www.johnsmusic.com</p>
      </div>
    </div>
  </body>

<% end %>

<script type="text/javascript">

  $(document).ready(function() {
    var start = Date.now();

    var id = gon.subjId;
    var rand_index = gon.randIndex;
    var index = gon.index;

    console.log('showing article ' + index + ' at index ' + rand_index + ' for ' + id);

    function logVisit() {
      console.log('logging visit');
      
      $.post('/log', {subj_id: id, article: {index: index, rand_index: rand_index, time_spent: Date.now()-start}},
        function(response) {
      });
      document.removeEventListener('turbolinks:before-cache', logVisit);
    }

    document.addEventListener('turbolinks:before-cache', logVisit);

    document.getElementById('title').innerHTML = gon.title;
    document.getElementById('content').innerHTML = gon.text;
  });
</script>